/* CSS Document */
*{
margin: 0;
	padding: 0;
}

#wrapper{
	width: 1024px;
	height: 657px;
	background: #F0FF00;
	margin: 0 auto;
	background: url(sup.jpg);
	background-size: cover;
}
#hearer{
	width: 1024px;
	height: 65px;
	background: #D04A4C
}
#logo img{
	width: 190px
}
#hearer #logo{   
	width: 345px;
	height: 65px;
	background:#ED1C24;
	float: left;
}
#hearer #menu{ 
	width:679px;
	height: 65px;
	background:#ED1C24;
	float: right
}
#menu ul{
	list-style: none;
	margin-left: 100px;
	margin-top:35px;
}
#menu ul li{
	float: left;
	margin-left: 30px;
}
#menu ul li a{
	color: white;
	text-decoration: none;
}
#menu ul li a:hover{
	color: black;
}
.text{
	height: 375px;
	width: 586px;
	margin-top: 100px;
		color: white;
	margin-left: 50px;
}
.text button{
	width: 200px;
	height: 40px;
	border: none;
	background: red;
	color: white;
	font-size: 20px;
	border-radius: 10px;
}
#footer{
	width: 1024px;
	height: 150px;
	background: #ED1C24;
	margin: 0 auto;
}
#lagi img{
	width: 190px
}
#footer {
	color: white;
	text-decoration: none;
	font-size: 10px
}
	
	
	
